<h2>Login:</h2>

<div class="formGroup">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="user-name">
            <input type="text" placeholder="Usuario" class="form-control"
            name="userName" formControlName="name">
        </div>
        <div *ngIf="loginForm.controls.name.invalid && (loginForm.controls.name.dirty || loginForm.controls.name.touched)">
            <div *ngIf="loginForm.controls.name.errors?.['required']">
              <p class="msgError">
                El nombre de usuario es necesario
              </p>
            </div>
        </div>
        <div class="user-password">
            <input type="password" placeholder="Password" class="form-control"
            name="userPassword" formControlName="password">
        </div>
        <div *ngIf="loginForm.controls.password.invalid && (loginForm.controls.password.dirty || loginForm.controls.password.touched)">
            <div *ngIf="loginForm.controls.password.errors?.['required']">
              <p class="msgError">
                La contraseña es requerida
              </p>
            </div>
        </div>
        <button type="submit" class="btn btn-sm btn-success">Acceder</button>
    </form>
</div>